//====================================================================================================
footer{
	padding: 200px 0 30px;
	background: #172432;
	color: white;
	
	@media (max-width: 1080px){
		padding: 180px 0 60px;
	}
	@media (min-width:1550px){
		padding:260px 0 140px;
	}
}
.footer__title{
		font-size: 24px;
		line-height: 28px;
		font-weight: 500;
		margin-bottom: 15px;
	}
//====================================================================================================
[class*="__link"]{
	font-size: 18px;
	line-height: 21px;
	
}
.footer-content {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	@media (max-width: 1080px){
		flex-wrap: wrap;
	}
	@media (max-width:640px){
		gap: 30px;
	}
	li{
		margin-bottom: 15px;
	}

	&__logo {
		img{
			display: block;
			max-width: 100%;
			padding-bottom: 15px;
		}
		span{
			font-size: 14px;
		}
	}
}

.follow-footer {
	display: flex;
	gap: 15px;

	&__link {
		
		font-size: 32px;
		
	}
}
